*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
h1{
    background-image: url(./img2/design1_image1.jpg);
    height: 400px;
    background-position: 45%;
    font-size: 77px;
}
.a{
    color: aliceblue;
    text-align: center;
    background-color: rgb(16, 15, 16);
}
nav >a{
    display: block;
    text-decoration: none;
    margin: 65px;
    font-family: cursive;
}
nav,main,.about{
    display: inline-block;
}
main{
    width: 50%;
}
.logo{
    position: absolute;
    top: 300px;
    right: 100px;
}
.mail{
    position: absolute;
    top: 500px;
}
header,nav,main{
    font-family: cursive;
}