* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.banner {
    position: absolute;
    top: 400px;
    font-family: cursive;
    color: gray;
    left: 500px;
}

.logo {
    position: absolute;
    right: 80px;
}

main {
    width: 50%;
    position: absolute;
    left: 200px;
    top: 500px;
}

nav>a {
    width: 100%;
    text-decoration: none;
    background-color: rgb(114, 114, 236);
    color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 50px;
    font-family: Tahoma;
    box-shadow: 3px 3px 3px grey;
}

nav>a:hover {
    background-color: rgb(136, 241, 136);
}

nav,
.logo {
    position: fixed;
    top: 150px;
}

.a {
    position: absolute;
    top: 400px;
    left: 5px;
    border: 0px;
    width: 100%;
    text-align: center;
}

header {
    font-family: Tahoma;
    text-align: center;
}

.title {
    position: relative;
    top: 20px;
    background-image: url(./assets/hockey_2.jpg);
    height: 1300px;
    background-position: 80%;
    font-size: 77px;
    width: 100%;
}

table {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 50px;
}

tr>td {
    background-color: rgb(42, 158, 235);
    margin: 1px;
    padding: 10px;
}

.img1 {
    position: absolute;
    right: 230px;
    top: 400px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 50px;
}

.img2 {
    position: absolute;
    right: 230px;
    top: 800px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 50px;
}

.img3 {
    position: absolute;
    right: 230px;
    top: 1120px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 50px;
}

.under {
    text-decoration: underline;
}

.footer {
    position: absolute;
    top: 600pxpx;
}

iframe {
    display: none;
}

.mapa {
    color: rgb(229, 255, 0);
}

.mapa:hover>iframe {
    display: block;
    position: absolute;
    right: 15%;
    height: 29%;
    outline: 1px solid black;

}

.mapa1 {
    color: rgb(229, 255, 0);
}

.mapa1:hover>iframe {
    display: block;
    position: absolute;
    right: 15%;
    height: 29%;
    outline: 1px solid black;
}

.mapa2 {
    color: rgb(229, 255, 0);
}

.mapa2:hover>iframe {
    display: block;
    position: absolute;
    right: 15%;
    height: 29%;
    outline: 1px solid black;
}

.mapa3 {
    color: rgb(229, 255, 0);
}

.mapa3:hover>iframe {
    display: block;
    position: absolute;
    right: 15%;
    height: 29%;
    outline: 1px solid black;
}

.mapa4 {
    color: rgb(229, 255, 0);
}

.mapa4:hover>iframe {
    display: block;
    position: absolute;
    right: 15%;
    height: 29%;
    outline: 1px solid black;
}

.mapa5 {
    color: rgb(229, 255, 0);
}

.mapa5:hover>iframe {
    display: block;
    position: absolute;
    right: 15%;
    height: 29%;
    outline: 1px solid black;

}

form {
    background-color: rgb(185, 147, 90);
    position: absolute;
    text-align: center;
    width: 80vw;
}

fieldset {
    width: 75vw;
    padding: 1rem;
    margin: 1rem;
}

.titulo {
    font-size: 60px;
}

.botton {
    position: absolute;
    top: 400px;
    left: 350px;
}

@media only screen and (max-width:1024px) {
    header {
        flex-wrap: wrap;
    }

    h1 {
        font-size: 50px;
    }

    .img1,
    .img2,
    .img3 {
        position: absolute;
        right: 20px;
    }


}

@media screen and (max-width:768px) {
    main {
        position: absolute;
        left: 20px;
    }

    nav>a {
        float: left;
        width: 25%;
        text-align: center;

    }

    .logo {
        position: absolute;
        top: 300px;
        left: 100px;
    }

    h1 {
        padding: 0;
        margin: 0;
        height: 1700px;
    }

    .banner {
        position: absolute;
        left: 300px;
        color: black;
    }

    .botton {
        position: absolute;
        top: 200px;
        left: 100px;
    }
}

@media only screen and (max-width:375) {

    .img1,
    .img2,
    .img3 {
        width: 20%;
        height: 10%;
    }

    nav>a {
        width: 5%;
        text-align: center;
    }
}