*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.banner{
    position: absolute;
    top: 400px;
    font-family: cursive;
    color: gray;
    left: 500px;
}

.logo{
    position: absolute;
    right: 80px;
}
main{
    width: 50%;
    position: absolute;
    left: 200px;
    top: 500px; 
}
nav > a{
    width: 100%;
    text-decoration: none;
    background-color: rgb(114, 114, 236);
    color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 50px;
    font-family: Tahoma ;
    box-shadow: 3px 3px 3px grey;
}
nav >a:hover {
    background-color: rgb(136, 241, 136);

}
nav,.logo{
    position: fixed;
    top: 150px;
}
.a{
    position: absolute;
    top: 400px;
    left: 5px;
    border: 0px;
    width: 100%;
    text-align: center;
}
header{
    font-family:Tahoma;
    text-align: center;
}
h1{
    position: relative;
    top: 20px;
    background-image: url(./assets/hockey_2.jpg);
    height: 1300px;
    background-position: 80%;
    font-size: 77px;
    width: 100%;
}
table{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 50px;
}

tr>td{
    background-color: rgb(42, 158, 235);
    margin: 1px;
    padding: 10px;
}
.par{
    display: flex;
}
.img1{
    position: absolute;
    right: 230px;
    top: 400px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 50px;
}
.img2{
    position: absolute;
    right: 230px;
    top: 800px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 50px;
}
.img3{
    position: absolute;
    right: 230px;
    top: 1120px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 50px;
}
.under{
    text-decoration: underline;
}